<html>

<head >
    <title>success</title>
</head>
<style>
    body {
        margin: auto;
        width: 450px;
        padding: 450px;
        font-family: "Times New Roman", sans-serif;
        color: #ffffff;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;

    }


</style>

<body class="body" style="background-color:rgb(255, 255, 255);">
    <h1 style="font-size:35px ;">File uploaded successfully</h1>
    <p style="font-size:30px ;color: #000000;" >File Name: {{name}}</p>

</body>
</html>